body{
    font-family: sans-serif;
}

.header{
    padding-left: 150px;
    padding-right: 150px;
    background-color: #1F2937;
    font-family: sans-serif;
    justify-content: space-between;
    align-items: center;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-middle{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #ffffff;
    max-width: 500px;
    justify-content: space-between;
}

.header-image{
    background-color: grey;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 30px;
    align-items: center;
    justify-content: center;

}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    font-size: 18px;
    color: #E5E7EB;
}

.button{
    background-color: #3882f6;
    color: white;
    max-width: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.random-information{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 50px;
}

.info-title{
    color: #1F2937;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
}

.info-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.placeholder-box{
    border-radius: 20px; 
    border: 4px solid;
    border-color: #3882f6;
    height:200px; 
    width:200px; 
    display:flex; 
    margin-left:auto; 
    margin-right:auto; 
}

.placeholder-text{
    max-width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

.inspiring-quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-attrib{
    font-weight: bolder;
    align-self: flex-end;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    background-color: #3882f6;
    max-height: 200px;
    margin: 50px;
    border-radius: 30px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 200px;
    padding-right:200px;
}

.banner-text{
    color:white;

}

.sign-up-header{
    font-size: 30px;
}

.sign-up-paragraph{
    font-weight: lighter;
}

.banner-button{
    background-color: #3882f6;
    color: white;
    border: 2px solid;
    border-color: white;
    max-width: 60px;
    max-height:20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright{
    color:white;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}