.header{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #1F2937;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-main{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    font-size: 18px;
    color: #E5E7EB;
}

.button{
    background-color: #3882f6;
    color: white;
    max-width: 55px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 40px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

h1{
    font-size: 48px;
    font-weight: bold;
}